<?xml version="1.0" encoding="utf-8"?>
<launch>

  <include file="$(find tud_coop_uv)/launch/ar_sys_multi_boards_external.launch" />
  <include file="$(find tud_coop_uv)/launch/whycon.launch" />


  <node pkg="tud_coop_uv" name="joy_control" type="joy_control"/>

  <!--node pkg="ardrone_velocity" name="pid_control" type="pid_control" output="screen" /-->
  <include file="$(find ardrone_velocity_ekf)/launch/ardrone_velocity.launch" />

  <arg name="joy_dev" default="/dev/input/js0" />

  <node pkg="joy" type="joy_node" name="joy_node">
    <param name="dev" value="$(arg joy_dev)" />
    <param name="deadzone" value="0.1" />
    <param name="autorepeat_rate" value="20" />
  </node>

  <node pkg="tud_coop_uv" name="merge" type="merge" output="screen"/>

  <node pkg="tud_coop_uv" name="tracking" type="tracking" output="screen">

  </node>

  <node pkg="tud_coop_uv" name="define_target" type="define_target" output="screen">
    <param name="target_marker_name0" value="land_target"/>
    <param name="filter_tf" value="true"/>
    <param name="n_ugv" value="1"/>    
    <param name="marker_tf_topic" value="/dynamic_marker/transform"/>
  </node>

</launch>
